#agents {
    padding: 100px 0 80px;

    .textbox {
        text-align: center;
        width: 450px;

        h2 {
            font-size: 48px;
        }

        h3 {
            color: #979797;
            font-size: 18px;
            line-height: 1.4;
            margin: 20px 0 40px;
        }
    }

    .imgbox {
        position: relative;
        transition: 2s;

        &:hover {
            ul {
                opacity: 1;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transform: translate(40px, -60px);
            transition: 2s;
            opacity: 0;

            li {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #13516d;
                margin: 0 10px;

                i {
                    color: #ffffff;
                }
            }
        }
    }

    .minibox {
        text-align: center;
        padding: 32px 0;

        h4 {
            font-size: 20px;
            font-weight: 700;
            transition: 0.5s;
            &:hover{
                color: #00aeff;
            }
        }

        h5 {
            margin-top: 16px;
            color: #6d6d6d;
        }
    }

    @media screen and (max-width: 576px) {
        .textbox {
            width: 300px;
        }
    }
}